
p {
	display: inline-block;
	padding: 20px 300px;
	background-color:white;
	font-family: new times roman;
	color: black;
	font-size: 20px;
	border: 1px dashed;
	margin: 20px 50px;
	
	}
	
div {
	background-color: #FBB28A;
	display: inline-block;
	padding: 30px 100px;
	border: 8px solid purple;
	







	}
